<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="banner">
        <p class="bfont">Read Notes</p>
    </div>
   <div class="tasks-vertical">
    <div class="task-row">
        <span class="task-element light">{{ book_v.id }}</span>
        <span class="task-element dark">{{ book_v.title }}</span>
        <span class="task-element light">{{ book_v.author }}</span>
        <span class="task-element dark">{{ book_v.year }}</span>
    </div>
</body>